.DS_Store
__pycache__/
*.py[cod]
*.mp4

mnistCUDNN/__pycache__/
mnistCUDNN/**/__pycache__/
mnistCUDNN/*.o
mnistCUDNN/a.out
mnistCUDNN/test.c
mnistCUDNN/mnistCUDNN
mnistCUDNN/runs/
mnistCUDNN/datasets/yolo/images/**/*.jpg
mnistCUDNN/datasets/yolo/images/**/*.jpeg
mnistCUDNN/datasets/yolo/images/**/*.png
mnistCUDNN/datasets/yolo/labels/**/*.txt
mnistCUDNN/datasets/yolo/labels/*.cache
mnistCUDNN/pgm_output/*.pgm
mnistCUDNN/**/*.log
mnistCUDNN/yolo/debug_crops/
